version: 2.1

orbs:
  orb-tools: circleci/orb-tools@10.0

jobs:
  deploy-log:
    docker:
      - image: circleci/buildpack-deps:buster
    steps:
      - run:
          name: Send deploy log to loganne
          command: |
            curl https://loganne.l42.eu/events --data '{
              "type":"publishedOrb",
              "source":"lucos_deploy_orb",
              "systemDeployed":"$CIRCLE_PROJECT_REPONAME",
              "humanReadable":"Published circleci orb $CIRCLE_PROJECT_REPONAME"
            }' -H "Content-Type: application/json" --fail

workflows:
  test-publish:
    jobs:
      - orb-tools/lint # Lint Yaml files
      - orb-tools/pack: # Pack orb source
          persist-to-workspace: true
      - orb-tools/publish-dev:
          orb-name: lucos/deploy
          context: orb-publishing
          attach-workspace: true
          requires:
            - orb-tools/lint
            - orb-tools/pack
          filters:
            branches:
              ignore:
                - main
      - orb-tools/increment:
          context: orb-publishing
          orb-ref: lucos/deploy
          attach-workspace: true
          requires:
            - orb-tools/lint
            - orb-tools/pack
          filters:
            branches:
              only:
                - main
      - deploy-log:
          requires:
            - orb-tools/increment
          filters:
            branches:
              only:
                - main
